<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:insert = "/bootstrap5::bootstrap5"></th:block>

    <style>

        .container{

        }
        header{

        }

        nav{

        }

        table{

        }
    </style>
</head>
<body>
    <div class="container">
        <header>

        </header>

        <nav>

        </nav>

        <table>

        </table>
    </div>
</body>
</html>